<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/header1.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/section.css">
</head>


<body>
<div class="section section-mini section-primary-header">


<div class="container">
    <div class="title">
        <h1>Tipps</h1>
    </div>
        <div class="description">
            <h2>Einfach profitieren</h2>
        </div>
            <div class="scroll">
                <img src="../../images/scroll.png">
            </div>
</div>
</div>
</body>
</html>