<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>overlap</title>
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/photo_overlap.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/button.css">
    <link rel="stylesheet" href="../../css/section.css">
</head>

<body>
<div class="gallery-set-box">
    <div class="container">

        <div class="back-images">
            <img src="../../images/automesse_n.jpg">
            </div>


        <div class="front-text">
            <div class="text-box">
                <h3>Die letze Automesse 2018</h3>
                <p> Das wars. Jan durfte die letzte Automesse in Zürich besuchen. Ein erfolgreiches Jahr geht für uns zu Ende.
                    Wir freuen uns bereits auf das neue Jahr und hoffen gemeinsam mit Ihnen durchstarten zu können.
                    Um noch ein letzes Mal das Autofieber zu spüren, lesen Sie doch Blog bereitag zur Automesse in Örlikon durch.
                </p>
            </div>
        </div>
        </div>
    </div>
</body>
</html>