* {
    box-sizing: border-box;
}


.gallery {
    margin: 0px 100px 0 100px;
}

.gallery img {
    width: 553px;
    height: 369px;
    padding: 30px;
    filter: grayscale(1000%);
    transform: 1s;

}

.gallery img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}