html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #868080;

}

body {
    margin: 0;
}


ul ol a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #868080;
}

h1 {
    font-size: 100px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 0 0 40px rgba(0,0,0,.5);
    margin: 0px 100px 0 100px;
}

h2 {
    font-size: 70px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 0 0 40px rgba(0,0,0,.5);
    margin: 0px 100px 0 100px;
}

h3 {
    font-size: 20px;
    color: #868080;
    text-transform: uppercase;
    margin-bottom: 0;
}


h4 {
     font-family: 'Source Sans Pro', sans-serif;
     text-align: center;
     font-weight: 700;
     color: white;
 }

h5 {
    color: #868080;
    font-size: 100px;
}

h6 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #868080;
    text-transform: uppercase;
    margin-bottom: -10px;
    font-size: 20px;
}