
.back-images img{
    width: 990px;
    height: 640px;

}

.text-box {
    width: 845px;
    height: 529px;
    padding-left: 115px;
    padding-right: 115px;
    box-sizing: border-box;
    display:table-cell;
    vertical-align:middle
}

.gallery-set-box {
    background: #ededed;
    padding-top: 160px;
    padding-bottom: 160px;
}

.front-text {
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    height: 529px;
    width: 845px;
    top: 425px;
    right: 160px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}