.section {
    padding-top: 160px;
    padding-bottom: 160px;
}

.section-large {
    padding-top: 160px;
    padding-bottom: 160px;
}

.section-middle {
    padding-top: 80px;
    padding-bottom:80px;
}

.section-small{
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-mini{
    padding-top: 0;
    padding-bottom: 0;
}



.section-primary-header {
    background-image: url("../images/tricks.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}


.section-secondary {
    background: #ededed;
    padding-top: 1920px;

}

.section-third {
    background: #ffffff;
    color: #868080;
}

.section-fourth-footer {
    background: #ededed;
}

/**
 * Gallery
 */

/**
 * Gallery-Thema
 */

/**
 * Gallery-Tipps
 */