html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    color: #868080;
}

body {
    margin: 0;
}


h1 {
    font-size: 100px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 8px;
}

h2 {
    font-size: 70px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
}
