<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/right.css">

</head>

<body>
<div class="grid grid-small end">
        <div class="grid-width-1-2">
    <img src="../../images/blume.png">
        </div>

     <div class="grid-width-1-2">
    <h6> Das perfekte Winterfoto</h6>
    <p>Ein solches Foto haben Sie bestimmt schon irgendwo gesehen.Es geht ganz
        einfach, folgen Sie nur der Anleitung weiter unten. Vergessen Sie nicht uns
        Ihr Bild zu schicken.</p>
     </div>
        </div>

</body>
</html>