<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/right.css">

</head>

<body>
<div id class="container">
    <img src="../../images/winter.png">
        <h5> Das perfekte Winterfoto</h5>
        <p>Ein solches Foto haben Sie bestimmt schon irgendwo gesehen.Es geht ganz
            <br>einfach, folgen Sie nur der Anleitung <br>weiter unten.  Vergessen Sie nicht uns
            <br>Ihr Bild zu schicken.</p>
</div>


</body>
</html>