<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/right.css">
</head>
<body>
<div class="container">
    <div class="grid">

    <div class="grid-width-1-2">
    <div class="text-box">
        <h3> Das perfekte Winterfoto </h3>
        Ein solches Foto haben Sie bestimmt schon irgendwo gesehen. Es geht ganz einfach,
        folgen Sie nur der Anleitung weiter unten. Vergessen Sie nicht uns Ihr Bild zu schicken.
    </div>
    </div>

    <div class="text-box">
        <h3> Das perfekte Winterfoto </h3>
        Ein solches Foto haben Sie bestimmt schon irgendwo gesehen. Es geht ganz einfach,
        folgen Sie nur der Anleitung weiter unten. Vergessen Sie nicht uns Ihr Bild zu schicken.
    </div>

    </div>
</div>

</body>
</html>