<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" href="../../css/list.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/general.css">

</head>

<body>
<div class="container">
<div class="tip-set-box">
    <div class="grid">

        <div class="grid-width-1-2">
                <div class="box">
                <h3> Ort</h3>
                Suchen Sie einen passenden Ort um Ihr Foto zu schiessen. Dort dürfen Sie gerne Zeit investieren.
                Denn ohne idealen Hintergurnd – kein zufriedenstellendes Fotos. Wir haben uns bewusst für eine verschneite Landstrasse entschieden.
                Es gefällt uns.
            </div>
        </div>

        <div class="grid-width-1-2">
            <div class="box">
                <h3> Hintergrund </h3>
                Anschliessend machen Sie mehrere Aufnahmen vom ausgewählten Ort. Das Bild sollte scharf sein.
                Dieses wird anschliessend in das Smartphone eingesetz und Hintergrund als definiert.
                Machen Sie Aufnahmen im Quer- und Hochformat.
            </div>
        </div>

        <div class="grid-width-1-2">
            <div class="box">
                <h3> Smartphone </h3>
                Als dritter Schritt sollen Sie ein Foto von Ihrer Hand machen.
                Die Hand hält das Smartphone. Dieses ist ausgeschaltet und dementsprechend schwarz.
                Hier eignet sich kein Gerät, welches abgerundetet Ecken hat.
            </div>
        </div>

        <div class="grid-width-1-2">
            <div class="box">
                <h3> Bearbeitung </h3>
                Als dritter Schritt sollen Sie ein Foto von Ihrer Hand machen.
                Die Hand hält das Smartphone. Dieses ist ausgeschaltet und dementsprechend schwarz.
                Hier eignet sich kein Gerät, welches abgerundetet Ecken hat.</div>
            </div>

        </div>
    </div>
</div>

</body>
</html>