<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" href="../../css/list.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/general.css">

</head>

<body>
<div class="tip-set-box">
    <div class="container">
        <div class="grid">

            <div class="grid-width-1-2">
                <div class="box">
                    <div class="grid">

                        <div class="grid-width-small">
                            <h5>1</h5>
                        </div>

                        <div class="grid-width-expand">
                            <h3> Ort</h3>
                            Suchen Sie einen passenden Ort um Ihr Foto zu schiessen. Dort dürfen Sie gerne Zeit investieren.
                            Denn ohne idealen Hintergurnd – kein zufriedenstellendes Fotos. Wir haben uns bewusst für eine verschneite Landstrasse entschieden.
                            Es gefällt uns.
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-width-1-2">
                <div class="box">
                    <div class="grid">

                        <div class="grid-width-small">
                            <h5>2</h5>
                        </div>

                        <div class="grid-width-expand">
                            <h3> Hintergrund-Foto</h3>
                            Suchen Sie einen passenden Ort um Ihr Foto zu schiessen. Dort dürfen Sie gerne Zeit investieren.
                            Denn ohne idealen Hintergurnd – kein zufriedenstellendes Fotos. Wir haben uns bewusst für eine verschneite Landstrasse entschieden.
                            Es gefällt uns.
                        </div>

                    </div>
                </div>
            </div>


            <div class="grid-width-1-2">
                <div class="box">
                    <div class="grid">

                        <div class="grid-width-small">
                            <h5>3</h5>
                        </div>

                        <div class="grid-width-expand">
                            <h3> Smartphone-Foto</h3>
                            Suchen Sie einen passenden Ort um Ihr Foto zu schiessen. Dort dürfen Sie gerne Zeit investieren.
                            Denn ohne idealen Hintergurnd – kein zufriedenstellendes Fotos. Wir haben uns bewusst für eine verschneite Landstrasse entschieden.
                            Es gefällt uns.
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-width-1-2">
                <div class="box">
                    <div class="grid">

                        <div class="grid-width-small">
                            <h5>4</h5>
                        </div>

                        <div class="grid-width-expand">
                            <h3> Bearbeitung</h3>
                            Suchen Sie einen passenden Ort um Ihr Foto zu schiessen. Dort dürfen Sie gerne Zeit investieren.
                            Denn ohne idealen Hintergurnd – kein zufriedenstellendes Fotos. Wir haben uns bewusst für eine verschneite Landstrasse entschieden.
                            Es gefällt uns.
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>