<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gallery</title>
    <link rel="stylesheet" href="../../css/gallery.css">
</head>

<body>
<div class="gallery">

    <a href="../../images/auto-1.png"> <img src="../../images/auto-1-klein.png"></a>
    <a href="../../images/auto-2.png"> <img src="../../images/auto-2-klein.png"></a>
    <a href="../../images/auto-3.png"> <img src="../../images/auto-3-klein.png"></a>

    <a href="../../images/auto-4-1.png"> <img src="../../images/auto-4.png"></a>
    <a href="../../images/auto-5.png"> <img src="../../images/auto-5-klein.png"></a>
    <a href="../../images/auto-6.png"> <img src="../../images/auto-6-klein.png"></a>

    <a href="../../images/auto-7.png"> <img src="../../images/auto-7-klein.png"></a>
    <a href="../../images/auto-1.png"> <img src="../../images/auto-1-klein.png"></a>
    <a href="../../images/auto-2.png"> <img src="../../images/auto-2-klein.png"></a>


</div>


</body>
</html>