<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gallery</title>
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/gallery.css">
    <link rel="stylesheet" href="../../css/section.css">
    <link rel="stylesheet" href="../../css/container.css">
</head>

<body>
<div class="section">
    <div class="grid">

        <div class="grid-width-1-3">
            <img src="../../images/birne.png">
        </div>

        <div class="grid-width-1-3">
            <img src="../../images/birne.png">
        </div>

        <div class="grid-width-1-3">
            <img src="../../images/birne.png">
        </div>
    </div>
    </div>
</body>
</html>