<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gallery</title>
    <link rel="stylesheet" href="../../css/gallery.css">
    <link rel="stylesheet" href="../../css/button.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/section.css">
</head>

<body>
<div class="gallery">
    <div class="container">
        <div class="section-small">
            <div class="grid">
                <div class="grid-width-1-3 grid-margin">
                <a href="../../images/auto-1.png"> <img src="../../images/auto-1-klein.png"></a>
                </div>

                <div class="grid-width-1-3 grid-margin">
                <a href="../../images/auto-2.png"> <img src="../../images/auto-2-klein.png"></a>
                </div>

                <div class="grid-width-1-3 grid-margin">
                <a href="../../images/auto-3.png"> <img src="../../images/auto-3-klein.png"></a>
                </div>

                <div class="grid-width-1-3 grid-margin">
                <a href="../../images/auto-4-1.png"> <img src="../../images/auto-4.png"></a>
                </div>

                <div class="grid-width-1-3 grid-margin">
                <a href="../../images/auto-5.png"> <img src="../../images/auto-5-klein.png"></a>
                </div>

                <div class="grid-width-1-3 grid-margin">
                <a href="../../images/auto-6.png"> <img src="../../images/auto-6-klein.png"></a>
                </div>

                <div class="grid-width-1-3 grid-margin">
                <a href="../../images/auto-7.png"> <img src="../../images/auto-7-klein.png"></a>
                </div>

                <div class="grid-width-1-3 grid-margin">
                <a href="../../images/auto-1.png"> <img src="../../images/auto-1-klein.png"></a>
                </div>

                <div class="grid-width-1-3 grid-margin">
                <a href="../../images/auto-2.png"> <img src="../../images/auto-2-klein.png"></a>
                </div>

                <div class="grid-width-1-3 grid-margin">
                <button class="button button-default">zur Übersicht</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>