<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/section.css">
    <script src="uikit/dist/js/uikit-icons.min.js"></script>
</head>
<div class="container">
    <div class="logo">
        <h3>Janbo</h3>
    </div>

    <div class="media">
        <a href="" uk-icon="icon: heart"></a>
        <ul>
            <li><i class="fas fa-stroopwafel"></i></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
</html>
