<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/section.css">


</head>
<body>
    <div class="container">
        <div class="grid">
        <div class="tip-set-box">

            <div class="grid-1-3">
                <div class="box">
                <img src="../../images/snap.png" alt="Snapchat">
            </div>

            <div class="grid-1-3">
                <img src="../../images/test.png" alt="Instagram">
            </div>

            <div class="grid-1-3">
                <img src="../../images/wapp.png" alt="WhatsApp">
            </div>
        </div>
    </div>
</div>

</body>
</html>