<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/section.css">


</head>
<body>
<div class=" section section-small section-fourth-footer ">
    <div class="container">

        <div class="grid text-right">
            <div class="grid-1-3">
                <img src="../../images/snap.png" alt="Snapchat">
                <p>
                    Adde uns<br />
                    snapjanbofilms
                </p>
            </div>
            <div class="grid-1-3">
                <img src="../../images/test.png" alt="Instagram">
                <p>
                    Adde uns<br />
                    snapjanbofilms
                </p>
            </div>
            <div class="grid-1-3">
                <img src="../../images/wapp.png" alt="WhatsApp">
                <p>
                    Adde uns<br />
                    snapjanbofilms
                </p>
            </div>
        </div>

    </div>
</div>
</body>
</html>