<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formular</title>
    <link rel="stylesheet" href="../../css/contact.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/general.css">
</head>

<body>
<div class="container">
        <div class="grid-width-1-2">
            <img src="../../images/birne.png">
        </div>

        <div class="grid-width-1-2">
            <h3>Was möchten Sie erfahren</h3>
            <p>Lassen Sie es uns Wissen.</p>

        <form>
                <label for="first_name">Vorname:</label>
                <input class="input" id="first_name" type="text" />

                <label for="last_name">Nachname:</label>
                <input class="input" id="last_name" type="text" />
                <br>

                <label for="mail_name">E-Mail:</label>
                <input class="input" id="mail_name" type="text" />
                <br>

                <label for="more">gewünschtes Thema:</label>
                <br>
                <textarea id="more" name="story" rows="5" cols="33"></textarea>
            </form>
        </div>

    </div>

</body>
</html>