<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>nav</title>
    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="../../css/general.css">

</head>
<body>

<nav class="nav">
    <div class="grid">

        <div class="nav-left grid-1-2">
            <p>Janbo</p>
        </div>

        <div class="nav-right grid-1-4">
            <a href="#">Bilder</a>
        </div>

        <div class="nav-right grid-1-4">
            <a href="#">Tipps</a>
        </div>

        <div class="nav-right grid-1-4">
            <a href="#">Blog</a>
        </div>

        <div class="nav-right grid-1-4">
            <a href="#">Kontakt</a>
        </div>
    </div>
</body>
</html>