<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/container.css">
    <link rel="stylesheet" href="../../css/section.css">
    <link rel="stylesheet" href="../../css/nav_1.css">
</head>
<body>
<div class="container">
    <header class="main-header">
            <a class="site-logo" href="../../pages/start/start.html">
                <img src="../../images/logo/logo.jpg" alt="Logo">
            </a>

            <ul class="nav">
                <li><a href="../../pages/gallery/gallery.html">Galerie</a></li>
                <li><a href="../../pages/tipps/tipps.html">Tipps</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
    </header>
</div>
</body>
</html>